*{
margin:0px;
padding:0px;
}

html,body{
  text-align:center;
width:100%;
height:100%;
float:left;
background-color:darkgoldenrod;
}

header{
width:100%;
height:10%;
float:left;
}
 
main{
width:100%;
height:70%;
float:left;
background-color:darkolivegreen;
}

footer{
width:100%;
height:20%;
float:left;
}
