*{
margin:0px;
padding:0px;
}

html,body{
  text-align:center;
width:100%;
height:100%;
float:left;
background-color:darkgoldenrod;
}

header{
width:100%;
height:10%;
float:left;
}
 
main{
width:100%;
height:70%;
float:left;
background-color:darkolivegreen;
background-image:url(https://www.xtrafondos.com/wallpaper/5120x2880/10368-chica-anime-con-ojos-morados-cyberpunk.html);
}

footer{
width:100%;
height:20%;
float:left;
}
